*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.ala{
    width: 100%;
    height: 100vh;
}
svg{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img img{
    width: 500px;
}
.avatar{
    width: 100px;
}
.login-container{
    display: flex;
    align-items: center;
}
.koo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 360px;
}
form h2{
    font-size: 2.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.input-div button,input{
  width: 100%;
  height: 40px;
  border: 1px solid #54baac;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
}
.ada{
    margin-top: 25px;
}
input{
    padding: 20px;
}
.btn{
    display: block;
    width: 100%;
    height: 40px;
    color: black;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: #54baac;
    color: white;
    cursor: pointer;
    transition: .5s;
    border: none;
    margin-top: 35px;
    outline: none;
}
label{
    text-align: right !important;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
@media screen and (max-width:1000px){
    form{
        width: 290px;
    }
    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img{
        widows: 400px;
    }
}
@media screen and (max-width:1080px){
    form{
        width: 250px;
    }
    .img img{
        widows: 300px;
    }
}

@media screen and (max-width:900px){
    .img {
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    svg{
        display: none;
    }
    .login-container{
        justify-content: center;
    }
}
@media screen and (max-width:764px){
    .img {
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    svg{
        display: none;
    }
    .login-container{
        justify-content: center;
    }
    .avatar,.koo h2{
        margin-bottom: 20px;
    }
}